@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply scroll-smooth
    }

    body {
        font-family: 'Lato';
        background-color: #f5f5f5;
        overflow-x: hidden; /* Hide horizontal scrollbar */
        @apply overflow-y-scroll
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
        font-family: 'Lato';
    }

    li {
        font-family: 'Lato';
    }

    /* For WebKit browsers */
    ::-webkit-scrollbar {
        height: 8px; /* Adjust the height of the horizontal scrollbar */
        width: .5px;
        color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #888; /* Color of the scrollbar thumb */
        border-radius: 10px; /* Rounded corners for the scrollbar thumb */
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Color when hovering over the scrollbar thumb */
    }

    .btn {
        @apply h-[75px] px-[30px] transition-all duration-300 ease-in-out hover:scale-110 text-white rounded-[18px] flex items-center gap-2
    }

}